.knapsack .object {
    width: 150px;
    height: 150px;
    float: left;
    text-align: center;
}

.knapsack .object img {
    height: 100px;
}

.knapsack .titles {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
