.knapsack .object {
    width: 150px;
    height: 150px;
    float: left;
    text-align: center;
    cursor: move;
}

.knapsack .object img {
    height: 100px;
}

.knapsack .titles {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.knapsack .knapsack-bars .progress {
    height: 30px;
    position: relative;
}

.knapsack .knapsack-bars .progress .bar-title {
    color: white;
    line-height: 30px;
    position: absolute;
    left: 10px;
    text-shadow: 0px 0px 2px black;
}
